body {
  margin: 0;
  height:100vh;
  width:100vw;
  display: inline-block;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header {
  background-color: #006CB7;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed; /* Make it stick/fixed */
  top: 0; /* Stay on top */
  width: 100%; /* Full width */
  transition: top 0.3s; /* Transition effect when sliding down (and up) */
}

header a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;

}

#about {
  background:rgb(49, 140, 231);
  float:left;
  height:90vh;
  width:100vw;
}

#projects {
  background:rgb(49, 140, 231);
  float:right;
  height:90vh;
  width:100vw;
  display: inline-block;
}

#skills {
  background:rgb(49, 140, 231);
  float:left;
  height:90vh;
  width:100vw;
}

#contact {
  background:#b9ffcb;
  float:right;
  height:30vh;
  width:100vw;
}

#card-container {
  margin: 0 auto;
  text-align: center;
}

#about-container {
  margin: 0 auto;
  text-align: center;
  padding-top: 5em;
}

#about-text {
  font-size: 30px;
  padding: 30px;
}

#skills-container {
  font-size: 18px;
  padding: 5vw;
}

.gold {
  background-image: url(https://t3.ftcdn.net/jpg/01/21/77/78/240_F_121777813_2D9oUTeYerqVNeJfNGd9btI3BO9JnfDg.jpg);
  background-attachment: fixed;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-background-size: cover;
}

.skills-row {
  width: 90vw;
}

.contact-row {
  width: 100vw;
}

.language {
  width: 45vw;
  display: inline-block;
}

.framework {
  width: 45vw;
  display: inline-block;
}

.link {
  margin-left: 40px;
  margin-right: 40px;
  display: inline-block;
}
